autopep8==2.3.2
black==25.1.0
grpcio==1.70.0
isort==6.0.0
jupyter==1.1.1
jupyterlab-code-formatter==3.0.2
nbconvert==7.16.6
notebook==7.3.2
protobuf==5.29.3
senzing==0.2.2
senzing-grpc==0.5.0
setuptools==75.8.1
