autopep8==2.3.2
black==25.1.0
grpcio==1.70.0
isort==6.0.1
jupyter==1.1.1
jupyterlab-code-formatter==3.0.2
nbconvert==7.16.6
notebook==7.3.3
protobuf==6.30.1
senzing==0.2.4
senzing-grpc==0.5.0
setuptools==78.0.2
