autopep8==2.3.1
black==24.10.0
grpcio==1.69.0
isort==5.13.2
jupyter==1.1.1
jupyterlab-code-formatter==3.0.2
nbconvert==7.16.5
notebook==7.3.2
protobuf==5.29.3
senzing==0.2.0
senzing-grpc==0.3.8
setuptools==75.7.0
